<h2>Edit payment</h2>

<%= render "form.html", changeset: @changeset,
                        action: payment_path(@conn, :update, @payment),
                        clients: @clients %>

<span><%= link "Back", to: payment_path(@conn, :index) %></span>
