<h2>New payment</h2>

<%= render "form.html", changeset: @changeset,
                        action: payment_path(@conn, :create),
                        clients: @clients %>

<span><%= link "Back", to: payment_path(@conn, :index) %></span>
