<h2>Edit client</h2>

<%= render "form.html", changeset: @changeset,
                        action: client_path(@conn, :update, @client) %>

<span><%= link "Back", to: client_path(@conn, :index) %></span>
